  <div class="container" >
    <div class="row d-flex justify-content-center align-items-center" [class.login]="screenSize>=768">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="text-center">
            <div class="mt-md-4 pb-5">
              <h2 class="text-center mt-5">End To End</h2>
              <form [formGroup]="loginForm" (ngSubmit)="handleLogin()"> 
                <div class="form-outline form-white mt-5">
                  <input type="text" id="username" name="username" formControlName="username" class="form-control form-control-lg" placeholder="Usuario"/>
                </div>

                <button [style.width]="'60%'" class="btn btn-primary btn-lg  mt-4" type="submit">Ingresar</button>
              </form>
            </div>

          </div>
        
        </div>
    </div>

    <div *ngIf="messageError.length" [style.background]="'#FFE9C9'" class="alert alert-warning d-flex align-items-center login-message-error" role="alert">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
      </svg>
      <div>
        {{messageError}}
      </div>
    </div>

  </div>

  <div>
     
  </div>

