 <div class="hero primary-color">
    <div class="h2 hero-title" >{{dataCompany[1].nombre}}</div>
    <span class="subtitle text-muted text-center">Nit: {{dataCompany[1]?.nit}}</span>
    <div class="hero-subtitle">
    <div class="subtitle">Capa: {{dataCompany[1]?.capa}} </div>
    <div class="subtitle">Segmento: {{dataCompany[1].segmento}}</div>
    </div>
</div>

<hr>

 <div class="products">
    <span class="subtitle subtitle-main mt-3">Indique la linea de crédito que desea</span>
    <div class="products-card">
        <div class="products-card--item active">
        <img src="assets/icono-prestamo-personal.png" alt="Cartera"/>
        <div class="subtitle text-center block">Cartera Ordinaria</div>
            <div class="button-next">
                <span class="subtitle subtitle-main active">Continuar</span>
            </div>
        </div>
        <div class="products-card--item disabled">
        <img src="assets/icono-casa-credito-vivienda.png" class="disabled" alt="Leasing"/>
        <div class="subtitle text-center text-muted block">Leasing</div>
        <div class="button-next">
            <span class="subtitle text-muted disabled">Continuar</span>
        </div>
        </div>
    </div>

    <div class="alert alert-warning d-flex align-items-center message-warning" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
        </svg>
        <div class="text-message">Las demas lineas de credito no estaran disponibles por el momento.</div>
    </div>  
</div>